<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd">

	<!-- dataSource 객체 생성
	public DataSource getDataSource() {
		DataSource ds = new BasicDataSource();
		ds.setDriverClassName("com.mysql.cj.jdbc.Driver");
		ds.setUrl(".....");
		ds.setUsername("root");
		ds.setPassword("!Biz8080")
		return ds;
	} 
	-->
	<bean id="ds" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/mybooks"/>
		<property name="username" value="root"/>
		<property name="password" value="!Biz8080"/>
	</bean>
	<!-- sqlSessionFactory
	public SqlSession getSqlSession() { 
		SqlSession sqlSession = new SqlSessionFactoryBean();
		sqlSession.setDataSource(getDataSource())
		sqlSession.setTypeAliasesPackage("com.callor.contact.models");
		return sqlSession;
	}
	-->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds"/>
		<property name="typeAliasesPackage" value="com.callor.contact.models"/>
		<property name="mapperLocations" value="/WEB-INF/spring/mapper/*-mapper.xml"/>
	</bean>
	<!-- sqlSessionTemplate 
	SqlSessionTemplate sqlSessionTemplate 
			= new SqlSessionTemplate(getSqlSession());
	-->
	<bean class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSession"/>	
	</bean>
	<mybatis-spring:scan base-package="com.callor.contact.persistence"/>

</beans>
