<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.books.persistence.BookDao">
 
 	<insert id="insert"></insert>
 	<update id="update"></update>
 	<select id="create_books_table">
	 	CREATE TABLE IF NOT EXISTS tbl_books (
			isbn	varchar(13)	 PRIMARY KEY,
			title	varchar(125),	
			link	varchar(255),		
			image	varchar(255),		
			author	varchar(125),		
			discount	int,	
			publisher	varchar(125),	
			description	text,	
			pubdate	varchar(20),	
			price	int	
		)
 	</select>

 
 </mapper> 