<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!--
	base-package(com.callor.contact) 아래에 저장되어 있는
	class file 들을 scan 하여
	Annotation(@) 가 부착되어 있거든
	해당 class 들을 객체로 생성하여 사용할
	준비를 해 달라 라는 지시 
	-->
	<mvc:annotation-driven/>
	<context:component-scan base-package="com.callor.contact"/>


	<bean id="ds" class="org.apache.commons.dbcp2.BasicDataSource"  >
		<property name="driverClassName"  value="com.mysql.cj.jdbc.Driver" />
		<property name="url"  value="jdbc:mysql://localhost:3306/mybooks"/>
		<property name="username"  value="root"/>
		<property name="password"  value="!Biz8080"/>
	</bean>
	<bean id="sqlFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds"/>
		<property name="typeAliasesPackage" value="com.callor.contact.models"></property>
	</bean>
	<bean class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlFactory"/>
	</bean>
	
	<mybatis-spring:scan base-package="com.callor.contact.dao"/>
	

</beans>
