<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!--
	base-package(com.callor.contact) 아래에 저장되어 있는
	class file 들을 scan 하여
	Annotation(@) 가 부착되어 있거든
	해당 class 들을 객체로 생성하여 사용할
	준비를 해 달라 라는 지시 
	-->
	<mvc:annotation-driven/>
	<context:component-scan base-package="com.callor.contact"/>

</beans>
